/* MAIN LAYOUT */

.weatherLocationContainer {
  /* GRID LAYOUT */
  display: grid;
  grid-template-areas:
    'locationTitle locationTitle locationTitle locationTitle'
    'weatherIcon temperature temperature weatherType'
    'chanceRain chanceRain day1 day1'
    'windSpeed windSpeed day2 day2'
    'sunriseSunset sunriseSunset day3 day3';
  grid-template-rows: 2fr 2fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  position: relative;
  width: 90%;
  height: max-content;
  background-color: #404040;
  margin: 5rem auto;
  border-radius: 1rem;
  box-shadow: 0px 0px 0px 0.3rem var(--sec-bg-color-brown),
    0px 0px 0px 0.6rem var(--sec-bg-color-sand),
    0px 0px 0px 0.9rem var(--sec-bg-color-brown);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  color: var(--main-bg-color-grey-light);

  /* BACKGROUND GIFS MUST BE DARK */
  /* BACKGROUND GIFS: 
    RAIN: https://media.giphy.com/media/dI3D3BWfDub0Q/giphy.gif 
    SUN: https://media.giphy.com/media/EKpmZuydbsmRy/giphy.gif
    SNOW: https://media.giphy.com/media/XBwWNIY6WY7g4/giphy.gif
    SNOW: https://media.giphy.com/media/N7ZiLbtDr84Yo/giphy.gif
    CLOUDY: https://media.giphy.com/media/3o7rc6sa2RvKo8K5EI/giphy.gif
    STORM: https://media.giphy.com/media/8cdBgACkApvt6/giphy.gif
    STORM: https://media.giphy.com/media/lkimn0qpby38zMJMY/giphy.gif
    FOG: https://media.giphy.com/media/l2Je9dUI5LpzfHGTe/giphy.gif
    FOG: https://media.giphy.com/media/hTZqITHNkgmX0fwt1C/giphy.gif*/
}

/* LOCATION TITLE */

.locationTitle {
  padding: 1rem;
  grid-area: locationTitle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid var(--sec-bg-color-sand);
}

.locationHeader {
  padding: 0.5rem;
  line-height: 3rem;
  margin: 0.5rem;
  text-decoration: underline;
}

.locationDate {
  text-decoration: underline;
}

.locationHeader ion-icon {
  transform: translateY(10%);
}

/* WEATHERICON TEMPRETURE WEATHERTYPE */

.weatherIconContainer {
  grid-area: weatherIcon;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12rem;
  border-right: 2px solid var(--sec-bg-color-sand);
}

.weatherIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  background-color: var(--main-bg-color-grey);
  border: 5px solid var(--sec-bg-color-sand);
}

.weatherIcon img {
  padding: 1rem;
}

.temperature {
  grid-area: temperature;
  display: flex;
  align-items: center;
  justify-content: center;
}

.temperature h2,
.hiLoTemperature {
  margin: 1rem;
}

.hiLoTemperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-10%);
  border: 2px solid var(--sec-bg-color-sand);
  padding: 0.5rem;
}

.weatherType {
  grid-area: weatherType;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid var(--sec-bg-color-sand);
  text-transform: capitalize;
  text-align: center;
}

/* CHANCERAIN WINDSPEED SUNRISE/SUNSET */

.chanceRain ion-icon,
.windSpeed ion-icon,
.sunriseSunset ion-icon {
  font-size: 4.5rem;
}

.chanceRain {
  grid-area: chanceRain;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 100%;
  border-top: 2px solid var(--sec-bg-color-sand);
  border-bottom: 2px solid var(--sec-bg-color-sand);
  margin: auto;
  width: 100%;
}

.windSpeed {
  grid-area: windSpeed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--sec-bg-color-sand);
}

.sunriseSunset {
  grid-area: sunriseSunset;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FUTURE WEATHER */

.day1,
.day2,
.day3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border-left: 2px solid var(--sec-bg-color-sand);
  padding-left: 2rem;
}

.day1 ion-icon,
.day2 ion-icon,
.day3 ion-icon {
  font-size: 4.5rem;
  justify-self: center;
}

.day1 {
  grid-area: day1;
  border-top: 2px solid var(--sec-bg-color-sand);
  border-bottom: 2px solid var(--sec-bg-color-sand);
}

.day2 {
  grid-area: day2;
  border-bottom: 2px solid var(--sec-bg-color-sand);
}

.day3 {
  grid-area: day3;
}

.futureImg {
  justify-self: center;
  height: 80%;
  background-color: var(--main-bg-color-grey);
  border: 5px solid var(--sec-bg-color-sand);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.futureImg img {
  height: 100%;
  width: 8rem;
}

.futureHiLo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.futureHi,
.futureLo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.futureHi ion-icon,
.futureLo ion-icon {
  margin-left: 2rem;
  font-size: 3rem;
}

/* BUTTON */

.btnDelete {
  position: absolute;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  left: 98.5%;
  top: -5%;
  background-color: #de1b2e;
  color: var(--sec-bg-color-sand);
  border: 2px solid var(--sec-bg-color-brown);
  outline: none;
  font-size: 4rem;
  padding: 0;
}

.btnDelete:hover {
  background-color: var(--sec-bg-color-sand);
  color: #de1b2e;
}

/* MEDIA QUERIES */

@media (max-width: 985px) {
  .day1,
  .day2,
  .day3 {
    padding: 0.5rem;
  }

  .futureHi ion-icon,
  .futureLo ion-icon {
    margin-right: 1rem;
  }
}

@media (max-width: 835px) {
  .weatherIcon {
    width: 90%;
  }
}

@media (max-width: 615px) {
  .weatherLocationContainer {
    width: 100%;
  }

  .weatherIcon {
    height: 90%;
  }
}

@media (max-width: 616px) {
  .btnDelete {
    height: 6rem;
    width: 6rem;
    left: 90%;
    top: 2%;
  }
}

@media (max-width: 425px) {
  .futureImg {
    border: 2px solid var(--sec-bg-color-sand);
  }

  .weatherIcon {
    height: 80%;
    width: 80%;
    background-color: var(--main-bg-color-grey);
    border: 2px solid var(--sec-bg-color-sand);
  }
  .sunriseSunset ion-icon {
    font-size: 4rem;
  }
}
