/* CSS RESET */
/* https://alligator.io/css/minimal-css-reset/ */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* ol, ul {
    list-style: none;
  } */

img {
  max-width: 100%;
  height: auto;
}

/* END OF CSS RESET */

body {
  height: 100%;
}

.App {
  height: 100%;
}

/* a:active,
a:link {
  color: var(--secondary-background-color-yellow);
}

a:visited {
  color: var(--secondary-background-color-blue);
} */

h1,
h2 {
  font-family: 'Aguafina Script', cursive;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 5rem;
}

/* h3,
h4 {
  font-style: italic;
} */

h3 {
  font-size: 3.5rem;
  font-weight: 600;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

form {
  width: 100%;
}

span {
  font-size: 2rem;
}

@media (max-width: 985px) {
  h3 {
    font-size: 3rem;
  }
}

@media (max-width: 835px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 680px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 615px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 545px) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 410px) {
  html {
    font-size: 30%;
  }
}

@media (max-width: 355px) {
  html {
    font-size: 25%;
  }
}

/* input,
select {
  width: 80%;
  border-radius: 5%;
  border: 2px solid var(--main-text-color);
} */

/* input,
select {
  background-color: var(--secondary-background-color-yellow);
} */

/* label {
  font-size: 1.5rem;
  font-style: italic;
} */

/* button {
 
}

button:hover {
  
}

button:active {
  
} */

/* button:focus {
  outline-color: var(--secondary-background-color-blue);
} */

/* @media (max-width: 910px) {
  h3 {
    font-size: 2rem;
  }
} */
