.headerContainer {
  text-align: center;
  background-color: black;
  min-height: 10vh;
  color: #ff6700;
  padding: 0.5rem;
}

.mainHeading {
  padding: 1rem;
  border: 5px solid #ff6700;
  height: max-content;
  width: max-content;
  margin: 0.5rem auto;
  border-radius: 2rem;
}
