.weatherCardGrid {
  /* background: rgb(72, 78, 71);
  background: linear-gradient(
    90deg,
    rgba(72, 78, 71, 1) 1%,
    rgba(255, 103, 0, 1) 48%,
    rgba(0, 0, 0, 1) 91%
  ); */
  background: rgba(255, 173, 0, 1);
  background: radial-gradient(
    circle,
    rgba(255, 173, 0, 1) 14%,
    rgba(0, 0, 0, 0.8) 45%
  );
  height: 70rem;
  display: grid;
  grid-template-areas:
    'tl tc tr'
    'cl cc cr'
    'bl bc br';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  position: relative;
  align-items: center;
  justify-items: center;
}

.cardContainer {
  /* background-color: black; */

  height: 20rem;
  width: 20rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
}
