.weatherCardGrid {
  background-color: rgba(255, 173, 0, 1);
  background: radial-gradient(
    circle,
    rgba(255, 173, 0, 1) 14%,
    rgba(0, 0, 0, 0.8) 38%
  );

  display: grid;
  grid-template-areas:
    'tl tc tr'
    'cl cc cr'
    'bl bc br';
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  position: relative;
  align-items: center;
  justify-items: center;
  padding: 5rem;
}

.cardContainer {
  height: 20rem;
  width: 20rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
}

@media (max-width: 414px) {
  .weatherCardGrid {
    grid-template-areas:
      'tl tr'
      'tc cl'
      'cc cc'
      'bc cr'
      'bl br';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, minmax(15rem, max-content));
    height: max-content;
  }
}
