.searchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.searchForm {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.searchInput {
  width: 80%;
  margin: 0 auto;
  font-size: 5rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: #484e47;
  outline: none;
  border: 5px solid #ff6700;
  transition: all 0.5s;
  order: 1;
  box-shadow: 2px 2px 4px black;
}

.searchInput:focus {
  background-color: #ff6700;
  border-color: #484e47;
}

.searchRadio,
.searchBtn {
  margin: 2rem;
  background-color: #484e47;
  color: whitesmoke;
  border: 5px solid #ff6700;
  border-radius: 2rem;
  width: 30%;
  font-size: 3rem;
  box-shadow: 2px 2px 4px black;
}

.searchRadio {
  order: 3;
  list-style: none;
  text-align: center;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchRadio div {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin: 0 auto;
  text-align: center;
}

.searchRadio div input {
  margin: 0 0.5rem;
}

input[type='radio'] {
  margin: 0;
}

.searchBtn {
  order: 2;
  height: 100%;
}

.btnContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  order: 2;
  height: 10rem;
  margin: 2rem;
}

@media (max-width: 985px) {
  h3 {
    font-size: 3rem;
  }
}

@media (max-width: 545px) {
  .btnContainer {
    height: 15rem;
  }

  .searchInput {
    width: 100%;
  }

  .searchRadio,
  .searchBtn {
    width: 40%;
  }
}

@media (max-width: 460px) {
  .searchInput,
  .searchRadio,
  .searchBtn {
    border: 3px solid #ff6700;
  }

  .searchRadio {
    padding: 0.5rem 0;
  }

  .searchBtn {
    padding: 3rem 0;
  }
}

@media (max-width: 355px) {
  .searchInput {
    font-size: 8rem;
    width: 100%;
  }

  .searchRadio,
  .searchBtn {
    width: 40%;
  }
}
