.circleContainer {
  background-color: black;
  height: 20rem;
  width: 20rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
  grid-row: 2;
}

.red {
  /* background-color: honeydew !important; */
}

.circleTop {
  background-color: hotpink;
  border-radius: 50%;
  height: 20rem;
  width: 20rem;

  /* left: 150px;
    top: 150px;
    transform: translate(-50%, -50%); */
  transition: all 1s ease;
  /* transform: rotate(360deg); */
  /* transform-origin: center; */
  position: absolute;
  z-index: 2;
  left: 0rem;
  top: 0rem;
  /* position: fixed; */
}

.circleHover {
  /* height: 40rem;
    width: 40rem; */
  /* z-index: 1000; */
  /* transform-origin: center; */
  /* transform: translate(-50, -50%); */
  /* position: fixed; */
  /* CENTER POSITION FIXED */

  animation: bigSmall 2s forwards;
  transition: all 10s;
  height: 1rem;
  width: 1rem;

  /* background-color: black; */
  position: absolute;
  /* position: fixed; */
  /* top: 5rem;
  left: 0 # */
  /* left: 0rem; */
  /* left: 10rem; */
}
.circleBottom {
  background-color: cornflowerblue;
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  position: absolute;
  top: 0;
  z-index: 1;
  transition: all 1s;
}

.bigCircle {
  height: 40rem;
  width: 40rem;
  top: -10rem;
}

@keyframes bigSmall {
  0% {
    height: 20rem;
    width: 20rem;
    /* transform: translate(-50%, -50%); */

    /* top: 50%;
    left: 50%; */
    /* margin-top: -10rem;  */
    /* margin-left: -10rem;  */
    /* scale: (0, 0); */
  }

  50% {
    position: fixed;
    height: 40rem;
    width: 40rem;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* top: calc(50vh - (40rem / 2));
    left: calc(50vw - (40rem / 2)); */

    /* scale: (2, 2); */
  }

  100% {
    position: fixed;
    height: 0rem;
    width: 0rem;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    /* top: calc(50vh - (10rem / 2));
    left: calc(50vw - (10rem / 2)); */

    /* scale: (-1, -1); */
  }
}
