.cardContainer {
  height: 20rem;
  width: 20rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-row: 1;
  margin: 1rem;
}

@media screen and (max-width: 414px) {
  .cardContainer {
    width: 100%;
    height: 100%;
  }
}
