/* VARIABLES */
.weatherCardBig {
  --main-bg-color: #484e47;
  --inner-border: 2px solid black;
}

.circleHover {
  /* display: grid !important; */
  animation: clickAnimation 2s forwards;
}

.circleMinimize {
  animation: minimizeAnimation 2s forwards;
}

.cardInit {
  display: none;
}

.weatherCardBig {
  color: #251003;
  background-color: #ff6700;
  font-weight: bold;
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  position: absolute;
  top: 0;
  left: 0;

  /* GRID LAYOUT */
  display: grid;
  grid-template-areas:
    'locationTitle locationTitle locationTitle locationTitle'
    'weatherImage temperature temperature weatherDesc'
    'chanceRain chanceRain day1 day1'
    'wind wind day2 day2'
    'sun sun day3 day3';
  grid-template-rows: 2fr 2fr 1fr 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  border: 5px solid #ff6700;
  overflow: hidden;
  /* display: none; */
}

.weatherCardBig > * {
  background-color: var(--main-bg-color);
  border: var(--inner-border);
  box-shadow: 2px 2px 2px black;
}

.cardHeading {
  grid-area: locationTitle;
  align-self: center;
  justify-self: center;

  width: 100%;
  height: 100%;
  text-align: center;
}

.cardHeading h2 {
  height: min-content;
  font-size: 8rem;
  padding-top: 2rem;
}

.cardDate {
  text-align: center;
  font-size: 4rem;
  text-decoration: underline;
  font-style: italic;
  padding: 1rem;
}

.cardWeatherImage {
  grid-area: weatherImage;

  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTemperature {
  grid-area: temperature;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
}

.cardTemperature div {
  padding: 2rem;
}

.cardTemperature ul {
  list-style: none;
  padding: 0.5rem;
  margin: 0.5rem;
  border: var(--inner-border);
}

.cardWeatherDescription {
  grid-area: weatherDesc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 0.5rem;
  border-right: none;
}

.cardWind,
.cardChanceRain {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
}

.cardWind p,
.cardChanceRain p {
  width: 50%;
}

.cardChanceRain {
  grid-area: chanceRain;
}

.cardWind {
  grid-area: wind;
}

.cardSun {
  grid-area: sun;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 4rem;
  padding: 2rem;
}

.cardSun p {
  text-align: center;
  width: 40%;
}

.cardSunIcon {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0.5rem 0; */
}

.weatherFutureOne {
  grid-area: day1;
}
.weatherFutureTwo {
  grid-area: day2;
}

.weatherFutureOne,
.weatherFutureTwo {
  display: flex;
  align-items: center;
  font-size: 4rem;
}

.weatherFutureOne ul li,
.weatherFutureTwo ul li {
  display: flex;
  align-items: center;
}
.weatherFutureOne ul li ion-icon,
.weatherFutureTwo ul li ion-icon {
  margin: 0 0.5rem;
}

.weatherFutureOne ul,
.weatherFutureTwo ul,
.weatherFutureThree ul {
  list-style: none;
  font-size: 2rem;
  vertical-align: center;
}
.weatherFutureThree {
  grid-area: day3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 4rem;
  padding: 2rem;
}

.weatherFutureImg {
  background-color: black;
  margin: 0 1rem;
  height: 6rem;
  width: 6rem;
}

.weatherFutureDate {
  margin: 0 0.5rem;
}

.weatherFutureIconUp {
}
.weatherFutureIconDown {
}

.minimizeBtn {
  border-radius: 25% 25% 0 0;

  width: 35rem;
  height: max-content;
  justify-self: center;
  padding: 0.8rem;
  position: relative;

  top: -0.5rem;
  background-color: black;
  color: red;
  font-size: 2rem;
  border-bottom: 5px solid #ff6700;
}

@keyframes clickAnimation {
  0% {
    height: 20rem;
    width: 20rem;
    z-index: 10000;
  }

  50% {
    position: fixed;
    height: 40rem;
    width: 40rem;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 10000;
  }

  75% {
    position: fixed;
    height: 40rem;
    width: 40rem;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 10000;
  }

  100% {
    position: fixed;
    height: 80rem;
    width: 80rem;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 10000;
  }
}

@keyframes minimizeAnimation {
  0% {
    height: 80rem;
    width: 80rem;
    position: fixed;

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 10000;
  }

  50% {
    height: 10rem;
    width: 10rem;
    position: fixed;

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 10000;
  }

  75% {
    height: 0rem;
    width: 0rem;
    position: fixed;

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  100% {
    border: 0;
    height: 0rem;
    width: 0rem;
    position: fixed;

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}
